<html>
  <head>
  </head>
  <body>
    <% 
      if(!page) 
      {     
    %>
    <iframe style="width:60%;height:700px" src="web/viewer.html?file=test.pdf"></iframe>
    <% }else {%>
      <iframe style="width:60%;height:700px" src="web/viewer.html?file=test.pdf#page=<%= page %>"></iframe>></iframe>
      <%}%>

    <div><br><a href="/<%= (parseInt(page)+parseInt(1)) %>">Next</a> | <a href="/<%= (parseInt(page)-parseInt(1)) %>">Prev</a><br><br><br>
      <form method="POST" action="/search">
      <input type="text" name="searchKey" id="searchKey">
      <input type="submit" value="Search">
    </form>
    </div>
  </body>
</html>