</div>
</div>
<footer class="footer">
    <div class="row" width="100%" style="margin:0 auto; padding: 30px 30px;">
        <div class="col-sm-6" style="text-align:left">
    Developed for BP
  </div>
  <div class="col-sm-6" style="text-align:right;font-size:11pt">
Copyright: Boston Private Bank
  </div>
  </div>
</footer>
</body>
</html>